- name: packages
  ansible.builtin.apt:
    pkg:
      - libffi-dev
      - libssl-dev
      - python3
      - python3-pip
      - python3-venv

- name: dependencies
  ansible.builtin.pip:
    name:
      - python-telegram-bot
    virtualenv: /usr/local/src/telegram
    virtualenv_command: /usr/bin/python3 -m venv

- name: source
  ansible.builtin.copy:
    src: message.py
    dest: /usr/local/src/telegram/message.py

- name: service
  ansible.builtin.copy:
    src: telegram.service
    dest: /etc/systemd/system/telegram.service
