[Unit]
Description=Telegram Bot
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/src/telegram/bin/python /usr/local/src/telegram/message.py Started
Environment=TELEGRAM_TOKEN={{ rpi_telegram_token }}
Environment=TELEGRAM_CHAT_ID={{ rpi_telegram_chat_id }}

[Install]
WantedBy=multi-user.target
