- name: DHCP Client
  hosts: all
  tasks:

    - name: Install
      ansible.builtin.apt:
        pkg:
          - isc-dhcp-client

    - name: Config
      ansible.builtin.copy:
        src: ./files/etc/dhcpcd.conf
        dest: /etc/dhcpcd.conf
        backup: yes
      register: config

    - name: Service
      ansible.builtin.service:
        name: dhcpcd
        state: restarted
      when: config.changed
