- name: Install
  hosts: all
  tasks:

    - name: Upgrade
      ansible.builtin.apt:
        update_cache: yes
        upgrade: dist

    - name: Remove Unused Packages
      ansible.builtin.apt:
        pkg:
          - nano
        state: absent

    - name: Install Basic Packages
      ansible.builtin.apt:
        pkg:
          - vim

    - name: DHCP Client Daemon Static IP
      ansible.builtin.copy:
        src: ./files/etc/dhcpcd.conf
        dest: /etc/dhcpcd.conf
        backup: yes
      register: dhcpcd

    - name: DHCP Client Daemon Restart
      ansible.builtin.service:
        name: dhcpcd
        state: restarted
      when: dhcpcd.changed
