- name: Unbound
  hosts: all
  tasks:

    - name: Install
      ansible.builtin.apt:
        pkg:
          - unbound

    - name: Config
      ansible.builtin.template:
        src: ./files/etc/unbound/unbound.conf
        dest: /etc/unbound/unbound.conf
        validate: /usr/sbin/unbound-checkconf %s
        backup: yes
      register: config

    - name: Service
      ansible.builtin.service:
        name: dhcpcd
        state: restarted
      when: config.changed
